table.table-hover{
    tbody tr{
        &:hover{
            cursor: pointer;
        }
    }
}
table{
    tr{
        &.status-done,
        &.status-closed{
            .status span{
                color: green;
            }
        }
        &.status-todo,
        &.status-new{
            .status span{
                color: blue;
            }
        }

    }
    th.sortable{
        cursor: pointer;
        &:hover{
            color: #666;
        }

        &.sort-down,
        &.sort-up{
            &:after{
                content: "\e252";
                position: relative;
                top: 1px;
                display: inline-block;
                font-family: 'Glyphicons Halflings';
                font-style: normal;
                font-weight: 400;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                margin: 0 10px;
                font-size: 1rem;
            }
        }
        &.sort-up:after{
            content: '\e253'
        }
    }
    .created{
        white-space: nowrap;
    }
}

@media screen and (max-width: 600px) {
    table thead { display: none; }
    table tbody td {
        display: block; padding: .6rem;
    }
    table tbody tr td:first-child {
        background: #666; color: #fff;
    }
    table tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        vertical-align: middle;
        width: 7rem;
        padding-right: 1rem;
    }
}