@import "table";


html, body{
    margin: 0 auto;

    max-width: 1920px;
    min-width: 480px;
    font-size: 66.5%;
}
.body{
    padding: 20px 0;
    font-size: 1.4rem;
}
.main-content{
    padding: 0 2%;
}
.main-content-full{
    padding: 0;
}
.main-header{
    margin: 0 0 20px 0;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    font-size: 2.5rem;
}

.table-box{
    background: #f9f9f9;
    margin: 30px 0;
    padding: 5px 20px;
}

footer{
    border-top: 1px solid #ccc;
    padding: 20px 0;
}